html, body{
  height: 100%;
  margin: 0;
}
#contenido_pagina {
	position: relative;
	height: calc(100% - 45px);
	width: 100%;
	max-width: none;
	background-image: url(../img/senderismo_registro.jpg);
	background-position: center; /* Centra la imagen */
	background-repeat: no-repeat; /* No repite la imagen */
	background-size: cover; /* Redimensiona la imagen para ocupar todo el div */
}
#caja_registro {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 380px;
	width: 410px;
	margin: -193px 0 0 -205px;
	background: #FFFFFF;
	border-radius: 10px;
}
	#caja_registro #panel_registro {
		width: 100%;
		height: 100%;
		background: rgba(190,178,138,0.5);
		border-radius: 10px;
	}
#form_registro {
    width: 100%;
	margin: 0 auto 10px auto;
}
	#form_registro #f_nombre,
	#form_registro #f_nombre_usuario,
	#form_registro #f_email,
	#form_registro #f_password,
	#form_registro #f_password2,
	#form_registro #f_fecha_nacimiento,
	#form_registro #f_genero {
		margin: 0 auto;
		display: block;
		margin-bottom: 5px;
	}
	#form_registro #f_genero {
		width: 314px;
	}
	#form_registro #f_registro {
		margin: 0 auto;
		display: block;
	}